<nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow nav">
    <div class="container-fluid">
        <!-- 導覽列標題 -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="/users">基本資料</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/exercise">開始運動</a>
                </li>
            </ul>
        </div>
    </div>
</nav>